#!/usr/bin/make -f

%:
	dh $@ --with=cmake

override_dh_auto_build:
	rm -rf build
	mkdir build
	cd build && cmake .. -DCMAKE_BUILD_TYPE=Release
	cd build && cmake --build . -j$(nproc)

override_dh_auto_install:
	dh_auto_install --prefix=debian/bramble-player